{%-comment-%}
<style>
  .discount-code-field{
    display:flex;
  }
  .discount-code-field #cart-coupon-code{
    width: 80%;
  }
  .discount-code-field .button{
    width: 20%;
    margin-left:1em;
  }
  .cart-total-codes {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

     .discount {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 10px auto;
  position: relative;
  display: inline-block;
  background: #eee;
  width: auto;
  height: 30px;
  line-height: 1.5em;
  color: #000000;
  text-align: center;
  border-radius:4px;
  padding:0 15px;
}
.discount:after {
  content: " ";
  height: 22px;
  width: 22px;
  background:#eee;
  position: absolute;
  top:4px;
  left:-9px;
  border-radius:4px;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);  
}
.discount:before {
  content: "";
  width: 7px;
  height: 7px;
  background: #000000;
  position: absolute;
  top: 12px;
  left: 0px;
  z-index: 1;
  border-radius: 10px;
}
.close-icon {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  margin-left:.5em;
}
  .applied-discount-code-wrapper{
    display:none;
  }
</style>
<script>
document.addEventListener("DOMContentLoaded", function(event) { 
  let clearBtn = document.querySelector("#clear-discount-btn");
  let applyBtn = document.querySelector("#apply-discount-btn");
  let discountCodeError = document.querySelector("#discount-code-error");
  let discountCodeWrapper = document.querySelector("#applied-discount-code .applied-discount-code-wrapper");
  let discountCodeValue = document.querySelector("#applied-discount-code .applied-discount-code-value");
  let discountCodeInput = document.querySelector("#discount-code-input");
  let totalCartSelector = document.querySelector(".cart__subtotal .money"); // Total Cart Selector to update the total amount. 
  let authorization_token;
  
  let checkoutContainer = document.createElement('div');
  document.body.appendChild(checkoutContainer);

  if (localStorage.discountCode) applyDiscount( JSON.parse(localStorage.discountCode).code);
  if(applyBtn)
  applyBtn.addEventListener("click", function(e){
    e.preventDefault()
    applyDiscount(discountCodeInput.value);
  });

  if(clearBtn)
  clearBtn.addEventListener("click", function(e){
    e.preventDefault()
    clearDiscount();
  });

  function clearDiscount() {
    discountCodeValue.innerHTML = "";
    discountCodeError.innerHTML = "";
    clearLocalStorage();
    fetch("/checkout?discount=%20");
  }

  function clearLocalStorage() {
    if(discountCodeWrapper) discountCodeWrapper.style.display = "none";
    if(totalCartSelector) totalCartSelector.innerHTML = JSON.parse(localStorage.discountCode).totalCart;
    localStorage.removeItem("discountCode");
  }

  function applyDiscount(code) {
    if(applyBtn) {
      applyBtn.innerHTML = "APPLYING <div class='loader'></div>";
      applyBtn.style.pointerEvents = "none";
    }
    fetch("/payments/config", {"method": "GET"})
    .then(function(response) { return response.json() })
    .then(function(data) {
        const checkout_json_url = '/wallets/checkouts/';
        authorization_token = btoa(data.paymentInstruments.accessToken)
        fetch('/cart.js', {}).then(function(res){return res.json();})
        .then(function(data){

        let body = {"checkout": { "country": Shopify.country,"discount_code": code,"line_items": data.items, 'presentment_currency': Shopify.currency.active } }
        fetch(checkout_json_url, {
          "headers": {
            "accept": "*/*", "cache-control": "no-cache",
            "authorization": "Basic " + authorization_token,
            "content-type": "application/json, text/javascript",
            "pragma": "no-cache", "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors", "sec-fetch-site": "same-origin"
          },
          "referrerPolicy": "strict-origin-when-cross-origin",
          "method": "POST", "mode": "cors", "credentials": "include",
          "body": JSON.stringify(body)
      })
      .then(function(response) { return response.json() })
      .then(function(data) {
        console.log(data.checkout);
        if(data.checkout && data.checkout.applied_discounts.length > 0){
          let discountApplyUrl = "/discount/"+code+"?v="+Date.now()+"&redirect=/checkout/";
          fetch(discountApplyUrl, {}).then(function(response) { return response.text(); })
          if(discountCodeWrapper) discountCodeWrapper.style.display = "inline";
          if(discountCodeError) discountCodeError.innerHTML = "";
          if(discountCodeValue) discountCodeValue.innerHTML = data.checkout.applied_discounts[0].title + " (" + data.checkout.applied_discounts[0].amount + ' ' + Shopify.currency.active + ")";
          let localStorageValue = {
            'code': code.trim(),
            'totalCart': data.checkout.total_line_items_price
          };
          localStorage.setItem("discountCode", JSON.stringify(localStorageValue));
          if(totalCartSelector) totalCartSelector.innerHTML = "<s>" + data.checkout.total_line_items_price + "</s>" + data.checkout.total_price;
        }else{
          if(discountCodeValue) discountCodeValue.innerHTML = "";
          clearLocalStorage();
          if(discountCodeError) discountCodeError.innerHTML = "Please Enter Valid Coupon Code."
        }
      }).finally(function(params) {
        if(applyBtn){
          applyBtn.innerHTML = "APPLY";
          applyBtn.style.pointerEvents = "all";
        }
    });
    });
  });
}

});
</script>
{%-endcomment-%}
<style>
    .discount-code-field{
    display:flex;
  }
  .discount-code-field #cart-coupon-code{
    width: 80%;
  }
  .discount-code-field .button{
    width: 20%;
    margin-left:1em;
  }
  :root {
  --root-fs: 12px;
  --space-1: calc(var(--root-fs) / 16);
  --space-2: calc(var(--space-1) * 2);
  --space-4: calc(var(--space-1) * 4);
  --space-8: calc(var(--space-4) * 2);
  --space-12: calc(var(--space-4) * 3);
  --space-14: calc(var(--space-4) * 3.5);
  --space-16: calc(var(--space-4) * 4);
  --space-20: calc(var(--space-4) * 5);
  --space-24: calc(var(--space-4) * 6);
  --space-28: calc(var(--space-4) * 7);
  --space-32: calc(var(--space-4) * 8);
  --space-36: calc(var(--space-4) * 9);
}

:root {
  --theme-1-font-family: Roboto;
  --theme-1-font-size: var(--space-14);
  --theme-1-font-weight: 500;
  --theme-1-discount-txt-color: #fff;
  --theme-1-discount-bkg-color: crimson;
  --theme-1-discount-error-txt-color: #fff;
  --theme-1-discount-error-bkg-color: purple;
  --theme-2-font-family: Montserrat;
  --theme-2-font-size: var(--space-12);
  --theme-2-font-weight: 500;
  --theme-2-discount-txt-color: #fff;
  --theme-2-discount-bkg-color: forestgreen;
  --theme-2-discount-error-txt-color: #fff;
  --theme-2-discount-error-bkg-color: crimson;
  --discount-font-family: arial;
  --discount-font-size: var(--space-14);
  --discount-font-weight: 400;
  --discount-txt-color: ivory;
  --discount-bkg-color: #767676;
  --discount-circle-size: var(--space-4);
  --discount-error-txt-color: yellow;
  --discount-error-bkg-color: blue;
}

.theme-1 {
  --discount-font-family: var(--theme-1-font-family);
  --discount-font-size: var(--theme-1-font-size);
  --discount-font-weight: var(--theme-1-font-weight);
  --discount-txt-color: var(--theme-1-discount-txt-color);
  --discount-bkg-color: var(--theme-1-discount-bkg-color);
  --discount-error-txt-color: var(--theme-1-discount-error-txt-color);
  --discount-error-bkg-color: var(--theme-1-discount-error-bkg-color);
}

.theme-2 {
  --discount-font-family: var(--theme-2-font-family);
  --discount-font-size: var(--theme-2-font-size);
  --discount-font-weight: var(--theme-2-font-weight);
  --discount-txt-color: var(--theme-2-discount-txt-color);
  --discount-bkg-color: var(--theme-2-discount-bkg-color);
  --discount-error-txt-color: var(--theme-2-discount-error-txt-color);
  --discount-error-bkg-color: var(--theme-2-discount-error-bkg-color);
}

.discount-label {
  position: relative;
  display: inline-block;
  /* margin: 0 0 var(--space-8) var(--space-16); */
  padding: 0 var(--space-16);
  line-height: var(--space-32);
  text-align: center;
  border-radius: 0 var(--space-4) var(--space-4) 0;
}
.discount-label::after, .discount-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.discount-label::after {
  right: 100%;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: var(--space-16);
}
.discount-label::before {
  z-index: 2;
  left: calc(calc(var(--discount-circle-size)/2) * -1);
  width: var(--discount-circle-size);
  height: var(--discount-circle-size);
  border-radius: 50%;
}
.discount-label:empty::before {
  content: "No value !!!";
  position: relative;
  top: 0;
  left: 0;
  border-radius: 0;
  transform: none;
}
.discount-label > * {
  font-weight: var(--discount-font-weight);
  text-transform: uppercase;
}

.discount-label {
  color: var(--discount-txt-color);
  font-family: var(--discount-font-family);
  font-size: var(--discount-font-size);
  font-weight: var(--discount-font-weight);
  background-color: var(--discount-bkg-color);
}
.discount-label::after {
  border-right-color: var(--discount-bkg-color);
}
.discount-label::before {
  background-color: var(--discount-txt-color);
}
.discount-label:empty {
  background-color: var(--discount-error-bkg-color);
}
.discount-label:empty::after {
  border-right-color: var(--discount-error-bkg-color);
}
.discount-label:empty::before {
  color: var(--discount-error-txt-color);
  background-color: var(--discount-error-bkg-color);
}
#clear-discount-btn{
  background: transparent;
  border: unset;
  color: #fff;
}
</style>