<div class="AScard-wrapper">
  <div class="AScard-body">
    <img
      class="AScard__logo"
      src="{{ 'as-card-logo.png' | asset_url }}"
      alt="AS card Logo"
    >
    <div>
      <h3 class="AScard-title">Ashley Stewart Credit Card</h3>
      <div class="AScard-content">
        <span class="discount-highlight">Save an additional <span class="discount-value">$11.89</span></span> on this
        order, special rewards and exclusive birthday gifts
      </div>
    </div>
  </div>
  <div class="AScard-buttons">
    <div id="bread-payments-landing-placement" class="btn btn-apply"></div>
    <a
      id="AScardInfo"
      href="https://www.ashleystewart.com/credit-app-landing.html"
      class="btn"
      target="_blank"
      title="Go to My Ashley Stewart Credit Card"
    >
      Learn More
    </a>
  </div>
</div>

<style>
  .AScard-wrapper {
    width: 100%;
    margin-top: 24px;
    border: 1px solid #dadada;
  }

  .AScard-body {
    display: flex;
    align-items: center;
    padding: 16px;
  }

  .AScard__logo {
    width: 98px;
    height: 72px;
  }

  .AScard-title {
    font-family: poppins, -apple-system, BlinkMacSystemFont, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: left;
    margin: 0;
  }

  .AScard-content {
    text-align: left;
    font-family: lato, -apple-system, BlinkMacSystemFont, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  .AScard-content .discount-highlight {
    font-weight: 700;
  }

  .AScard-buttons {
    border-top: 1px solid #dadada;
    display: flex;
  }

  .AScard-buttons .btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: lato, -apple-system, BlinkMacSystemFont, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #313131;
    text-transform: none;
    text-decoration: underline;
    text-underline-offset: .1em;
    padding: 10px 0;
    cursor: pointer;
  }

  .AScard-buttons .btn:hover {
    text-decoration: none;
  }

  .AScard-buttons .btn.btn-apply {
    font-weight: 700;
    border-right: 1px solid #dadada;
  }
</style>
