<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{% unless template.suffix contains 'landing' %}
<div class="page-width page-width--narrow{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	<div class="container">
	  <h3 class="main-page-title page-header{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.title | escape }}
	  </h3>
	  <div class="rte{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.content }}
        <p><a href="https://forms.office.com/pages/responsepage.aspx?id=e0e1oLVn9UG01kaSr2eLkNMyASgaUfxGm0ek0cTUycRUMkE4MlZJTFFMTFZHUEZYRUgwMVNSUFUwRC4u">
          <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DESKTOP_HEADER.webp"/>
        </a><br/></p>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id01').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_NICOLED.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id02').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_MEIKA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id03').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_FLORA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id04').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_HAIZEL.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id05').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_HADEE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id06').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LIZ.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id07').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_RAVEN_SMITH.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id08').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TOWANDA.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id09').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DR.NOWELL.jpg"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id010').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TOMAR.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id011').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_SONYA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id012').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_JAMIL.jpg"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id013').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_NANCY.jpg"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id014').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LENA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id015').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TAMARA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id016').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_YASMINE.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id017').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_REYNELDA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id018').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TANGINIKIA.jpg"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id019').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DTD.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id020').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_CLAUDIA.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id021').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_CAMILLE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id022').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_XOCHITL.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id023').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ROBIN-EVANS.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id024').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_MELISSA.webp"/>
           </div>
        </div>
         <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id025').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_APRYL.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id026').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ROBIN.jpg"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id027').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ELLE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id028').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ADJOA.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id029').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_NICOLE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id030').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_KYLA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id031').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_PEARLINE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id032').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ELIZABETH.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id033').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_SHERITA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id034').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_SUSAN.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id035').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DANA.jpg"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id036').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ELLA.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id037').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ALAINE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id038').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TIFFANY.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id039').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DIONNA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id040').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LAQUINTA.webp"/>
           </div>
        </div>
        <div class="flex_sc">
           <div class="flx-inn" onclick="document.getElementById('id041').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TAVIA.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id042').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LISETTE.webp"/>
           </div>
          <div class="flx-inn" onclick="document.getElementById('id043').style.display='block'">
              <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_JESSICA.webp"/>
           </div>
          
        </div>
        
	  </div>
  	</div>
</div>


 <div id="id01" class="elegant_info">
   <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_NICOLED2.webp"/></div>
   </div>  
 </div>
  <div id="id02" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_MEIKA2.webp"/></div>
   </div> 
 </div>
 <div id="id03" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_FLORA2.webp"/></div>
   </div> 
 </div>
  <div id="id04" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_HAIZEL2.webp"/></div>
   </div> 
 </div>
  <div id="id05" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_HADEE2.webp"/></div>
   </div> 
 </div>
 <div id="id06" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LIZ2.webp"/></div>
   </div> 
 </div>
  <div id="id07" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_RAVEN_SMITH2.jpg"/></div>
   </div> 
 </div>
 <div id="id08" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TOWANDA2.webp"/></div>
   </div> 
 </div> 
 <div id="id09" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DR.webp"/></div>
   </div> 
 </div>
 <div id="id010" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TOMAR2.webp"/></div>
   </div> 
 </div>  
 <div id="id011" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_SONYA2.webp"/></div>
   </div> 
 </div>  
 <div id="id012" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_JAMIL2.webp"/></div>
   </div> 
 </div>  
 <div id="id013" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_NANCY2.webp"/></div>
   </div> 
 </div>
 <div id="id014" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LENA2.jpg"/></div>
   </div> 
 </div>
 <div id="id015" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TAMARA2.webp"/></div>
   </div> 
 </div>
 <div id="id016" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_YASMINE2.webp"/></div>
   </div> 
 </div>  
  <div id="id017" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_REYNELDA2.jpg"/></div>
   </div> 
 </div>  
  <div id="id018" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TANGINIKIA2.webp"/></div>
   </div> 
 </div>  
  <div id="id019" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DTD2.jpg"/></div>
   </div> 
 </div>  
  <div id="id020" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_CLAUDIA2.webp"/></div>
   </div> 
 </div>
  <div id="id021" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_CAMILLE2.webp"/></div>
   </div> 
 </div>
  <div id="id022" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_XOCHITL2.webp"/></div>
   </div> 
 </div>
 <div id="id023" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ROBIN-EVANS2.webp"/></div>
   </div> 
 </div>
  <div id="id024" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_MELISSA2.webp"/></div>
   </div> 
 </div> 
  <div id="id025" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_APRYL2.webp"/></div>
   </div> 
 </div>
  <div id="id026" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ROBIN2.webp"/></div>
   </div> 
 </div>
  <div id="id027" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ELLE2.jpg"/></div>
   </div> 
 </div>
  <div id="id028" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ADJOA2.webp"/></div>
   </div> 
 </div>
  <div id="id029" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_NICOLE2.webp"/></div>
   </div> 
 </div>
  <div id="id030" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_KYLA2.webp"/></div>
   </div> 
 </div>
  <div id="id031" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_PEARLINE2.webp"/></div>
   </div> 
 </div>
  <div id="id032" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ELIZABETH2.webp"/></div>
   </div> 
 </div>
   <div id="id033" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_SHERITA2.webp"/></div>
   </div> 
 </div>
   <div id="id034" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_SUSAN2.webp"/></div>
   </div> 
 </div>
   <div id="id035" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DANA2.webp"/></div>
   </div> 
 </div>
   <div id="id036" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ELLA2.webp"/></div>
   </div> 
 </div>
   <div id="id037" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_ALAINE2.webp"/></div>
   </div> 
 </div>
  <div id="id038" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TIFFANY2.webp"/></div>
   </div> 
 </div>
  <div id="id039" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_DIONNA2.webp"/></div>
   </div> 
 </div>
  <div id="id040" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LAQUINTA2.webp"/></div>
   </div> 
 </div>
  <div id="id041" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_TAVIA2.jpg"/></div>
   </div> 
 </div>
  <div id="id042" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_LISETTE2.webp"/></div>
   </div> 
 </div>
  <div id="id043" class="elegant_info">
    <div class="elegant_info_content">
     <div><img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/AS23-BEST-OF-THE-BLOCK-LANDING-PAGE_JESSICA2.webp"/></div>
   </div> 
 </div>
  

  

<script>
  var modal1 = document.getElementById('id01');
  var modal2 = document.getElementById('id02'); 
  var modal3 = document.getElementById('id03');  
  var modal4 = document.getElementById('id04');
  var modal5 = document.getElementById('id05');
  var modal6 = document.getElementById('id06'); 
  var modal7 = document.getElementById('id07');  
  var modal8 = document.getElementById('id08');
  var modal9 = document.getElementById('id09');
  var modal10 = document.getElementById('id010');
  var modal11 = document.getElementById('id011');
  var modal12 = document.getElementById('id012');
  var modal13 = document.getElementById('id013');
  var modal14 = document.getElementById('id014');
  var modal15 = document.getElementById('id015');
  var modal16 = document.getElementById('id016');
  var modal17 = document.getElementById('id017');
  var modal18 = document.getElementById('id018');
  var modal19 = document.getElementById('id019');
  var modal20 = document.getElementById('id020');
  var modal21 = document.getElementById('id021');
  var modal22 = document.getElementById('id022');
  var modal23 = document.getElementById('id023');
  var modal24 = document.getElementById('id024');
  var modal25 = document.getElementById('id025');
  var modal26 = document.getElementById('id026');
  var modal27 = document.getElementById('id027');
  var modal28 = document.getElementById('id028');
  var modal29 = document.getElementById('id029');
  var modal30 = document.getElementById('id030');
  var modal31 = document.getElementById('id031');
  var modal32 = document.getElementById('id032');
  var modal33 = document.getElementById('id033');
  var modal34 = document.getElementById('id034');
  var modal35 = document.getElementById('id035');
  var modal36 = document.getElementById('id036');
  var modal37 = document.getElementById('id037');
  var modal38 = document.getElementById('id038');
  var modal39 = document.getElementById('id039');
  var modal40 = document.getElementById('id040');
  var modal41 = document.getElementById('id041');
  var modal42 = document.getElementById('id042');
  var modal43 = document.getElementById('id043');
  
  window.onclick = function(event) {
     if ( event.target == modal1 || event.target == modal2 || event.target == modal3 || event.target == modal4 || event.target == modal5 || event.target == modal6 || event.target == modal7 || event.target == modal8 || event.target == modal9 || event.target == modal10 || event.target == modal11 || event.target == modal12 || event.target == modal13 || event.target == modal14 || event.target == modal15 || event.target == modal16 || event.target == modal17 || event.target == modal18 || event.target == modal19 || event.target == modal20 || event.target == modal21 || event.target == modal22 || event.target == modal23 || event.target == modal24 || event.target == modal25 || event.target == modal26 || event.target == modal27 || event.target == modal28 || event.target == modal29 || event.target == modal30 || event.target == modal31 || event.target == modal32 || event.target == modal33 || event.target == modal34 || event.target == modal35 || event.target == modal36 || event.target == modal37 || event.target == modal38 || event.target == modal39 || event.target == modal40 || event.target == modal41 || event.target == modal42 || event.target == modal43 ) {
      modal1.style.display = "none";
      modal2.style.display = "none";
      modal3.style.display = "none";
      modal4.style.display = "none";
      modal5.style.display = "none";
      modal6.style.display = "none";
      modal7.style.display = "none";
      modal8.style.display = "none"; 
      modal9.style.display = "none";
      modal10.style.display = "none";
      modal11.style.display = "none";
      modal12.style.display = "none";
      modal13.style.display = "none";
      modal14.style.display = "none";
      modal15.style.display = "none";
      modal16.style.display = "none"; 
      modal17.style.display = "none";
      modal18.style.display = "none";
      modal19.style.display = "none";
      modal20.style.display = "none";
      modal21.style.display = "none";
      modal22.style.display = "none";
      modal23.style.display = "none";
      modal24.style.display = "none";
      modal25.style.display = "none";
      modal26.style.display = "none";
      modal27.style.display = "none";
      modal28.style.display = "none";
      modal29.style.display = "none";
      modal30.style.display = "none";
      modal31.style.display = "none";
      modal32.style.display = "none";
      modal33.style.display = "none";
      modal34.style.display = "none";
      modal35.style.display = "none";
      modal36.style.display = "none";
      modal37.style.display = "none";
      modal38.style.display = "none";
      modal39.style.display = "none";
      modal40.style.display = "none";
      modal41.style.display = "none";
      modal42.style.display = "none";
      modal43.style.display = "none"; 
    }
  }
</script>
  
{% endunless %}

{% schema %}
{
  "name": "faq",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}

<style>
  .elegant_info { z-index: 999; display: none; padding-top: 100px; position: fixed; left: 0; top: 0; width: 100%; height: 100%;
    overflow: auto; background-color: #000000c2; }
  .elegant_info_content { margin: -45px auto 0px; background-color: #fff; position: relative; padding: 0px; outline: 0; width: 650px; overflow: hidden; }
  .elegant-full { padding: 20px 30px; } 
  .flex_sc { display: flex; align-items: center; justify-content: space-between; gap: 20px; margin-bottom:20px; }
  .flx-inn { width: 25%; }
  @media ( max-width:768px ) {
    .elegant_info_content { margin: 15px auto 0px; width: 100%; }
  }
</style>

