<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{% unless template.suffix contains 'landing' %}
<div class="page-width page-width--narrow{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	<div class="container">
	  <h3 class="main-page-title page-header{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.title | escape }}
	  </h3>
	  <div class="rte{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.content }}




         <div class="header-bar-full cc-container ">

<div style="background-color: #f6f4f1; margin: 0 auto;">
	<p style="padding:60px 0 20px; text-align: center; margin: 0 auto;">
	   <img style="display: initial;" alt="Ashley Stewart Credit Card" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SU222_PLCC_LAND_PG_DESK_R2_03.webp">
	</p>	
<div style="text-align:center;padding:0 10%;">
	<h2 class="cc-title">GET ASHLEY VIP STATUS</h2>


<table cellpadding="0" cellspacing="0" style="padding:0px 0 50px; margin:0 auto;text-align:center;width:30%; max-width:900px;">
<tbody><tr>
<td style="padding-top:0px;">
<div class="cc-cta" style="padding:5px 0;">
<a href="https://d.comenity.net/ashleystewart/" target="_blank" style="text-decoration: none;color:#000;letter-spacing:1px">Sign In</a>
</div>
</td>
	
<td style="padding-top:0px;">
<div class="cc-cta" style="padding:5px 0;">
 
<div id="bread-payments-landing-placement" data-ep-placement="d5da0e8b-b119-46dd-9040-5bc63a516cda" data-location="landing"><div class="ep-text-placement " data-action-type="SHOW_OVERLAY" data-action-target="placement-primary-cta" role="button" tabindex="0" data-action-content-id="85ca059f-2b3a-4406-b8e7-4aeffcef4cf1"> <div class="epjs-body"><a href="https://www.ashleystewart.com/credit-app-landing.html" target="_blank"> Apply Now </a> </div> </div></div>
</div>
</td>



</tr></tbody></table>
 
 
<div style="padding:0px 0 30px;">
<div class="cc-header">APPLY NOW + TAKE </div>

<div class="cc-promo20"> 20% OFF</div>

<div class="cc-subtext" style="padding:5px 0;">your first purchase when you open + use <br> the Ashley Stewart Credit Card<sup>1</sup></div>

<div class="cc-cta" style="padding:10px 0 0;"> 
<div id="bread-payments-landing-placement" data-ep-placement="d5da0e8b-b119-46dd-9040-5bc63a516cda" data-location="landing"><div class="ep-text-placement " data-action-type="SHOW_OVERLAY" data-action-target="placement-primary-cta" role="button" tabindex="0" data-action-content-id="85ca059f-2b3a-4406-b8e7-4aeffcef4cf1"> <div class="epjs-body"><a href="https://www.ashleystewart.com/credit-app-landing.html" target="_blank"> Apply Now </a></div> </div></div>

</div>
</div>
<div style="padding:0px;text-align: center;margin: 0 auto;">
   <img style="display:initial;" alt="plus" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/plcc-plus_03.png">
</div>

<div style="text-align:center;padding:20px 10% 0;">
	<h2 class="cc-title">GET ASHLEY VIP PERKS</h2>
 </div>
<div class="cc-subtext" style="padding:5px 0;">when you use your Ashley Stewart Credit Card</div>
<div class="perks" style="">
<table style="margin:0 auto;text-align:left;">
	<tbody>
		<tr>
			<td><img alt="Secret Sale" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SU222_PLCC_LAND_PG_DESK_R2_15.png" style="padding-bottom:0px;">	</td>
				<td style="padding:35px 0 0 35px;">
			<div><span class="cc-header" style="text-align: left">SECRET SALES</span><br>
			<span class="cc-subtext" style="text-transform: uppercase;text-align: left">VIP Card exclusive<br>
			offers + promos</span></div>
			</td>
			
			</tr>
		   <tr>
			<td><img alt="Bday Gifts" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SU222_PLCC_LAND_PG_DESK_R2_18.webp" style="padding-bottom:0px;">	</td>
			<td style="padding:35px 0 0 35px;">
				<div><span class="cc-header" style="text-align: left">BDAY GIFTS<sup>2</sup></span><br>
				<span class="cc-subtext" style="text-transform: uppercase;text-align: left">A   surprise to celebrate<br>
				 your bithrday  in style</span></div>
			</td>
			
			</tr>
		<tr>
			<td><img alt="Early Access" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SU222_PLCC_LAND_PG_DESK_R2_20.webp" style="padding-bottom:0px;">	</td>
				<td style="padding:35px 0 0 35px;">
			<div><span class="cc-header" style="text-align: left">EARLY ACCESS</span><br>
			<span class="cc-subtext" style="text-transform: uppercase;text-align: left">To new collections,<br>
			sales + special events</span></div>
			</td>
		</tr>
		<tr>
			<td><img alt="Get it Free" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SU222_PLCC_LAND_PG_DESK_R2_22.png" style="padding-bottom:0px;">	</td>
				<td style="padding:35px 0 0 35px;">
			<div><span class="cc-header" style="text-align: left">GET IT FREE <sup>3</sup></span><br>
			<span class="cc-subtext" style="text-transform: uppercase;text-align: left">Free shipping events<br>
			throughout each year</span></div>
			</td>
			
			</tr>
		<tr>
			<td><img alt="VIP Card Anniversary" src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SU222_PLCC_LAND_PG_DESK_R2_24.png" style="padding-bottom:0px;">	</td>
				<td style="padding:35px 0 0 35px;">
			<div><span class="cc-header">VIP ANNIVERSARY  <sup>4</sup></span><br>
			<span class="cc-subtext" style="text-transform: uppercase;">A special gift for your<br>
			Ashley VIP anniversary <br> each year</span></div>
			</td>
			
			</tr>
		
	</tbody>
</table>
</div>

<div class="cc-title" style="padding:50px 0  20px">APPLY IN STORE OR ONLINE</div>

<div style="text-align:center;padding:30px 0 0;"><span class="cc-header">NO ANNUAL FEE<sup>5</sup> </span><br>
<span class="cc-subtext">Minimum monthly payments &amp; 24/7 online account management<br>
Call customer service toll-free @ 1-800-376-0581 (TDD/TTY 1-800-695-1788)</span></div>


<table class="table_sign" cellpadding="0" cellspacing="0" style="padding:0px 0 50px; margin:0 auto;text-align:center;width:40%; max-width:900px;">
<tbody><tr>
<td style="padding-top:0px;">
<div class="cc-cta" style="padding:5px 0;">
<a href="https://d.comenity.net/ashleystewart/" target="_blank" style="text-decoration: none;color:#000;letter-spacing:1px">Sign In</a>
</div>
</td>
	
<td style="padding-top:0px;">
<div class="cc-cta" style="padding:5px 0;">
 
<div id="bread-payments-landing-placement" data-ep-placement="d5da0e8b-b119-46dd-9040-5bc63a516cda" data-location="landing"><div class="ep-text-placement " data-action-type="SHOW_OVERLAY" data-action-target="placement-primary-cta" role="button" tabindex="0" data-action-content-id="85ca059f-2b3a-4406-b8e7-4aeffcef4cf1"> <div class="epjs-body"> Apply Now </div> </div></div>
</div>
</td>

<td style="padding-top:0px;">
<div class="cc-cta" style="padding:5px 0;">
<a href="https://d.comenity.net/ashleystewart/pub/register/Register.xhtml" style="text-decoration: none;color:#000;letter-spacing:1px" target="_blank">Register</a>
</div>
</td>




</tr></tbody></table>
 
 

<div class="cc-title" style="padding:20px 0  0px;">SAVE EVEN MORE</div>

<div class="cc-subtext" style=" padding:0px 0 50px ;">Stay in the know &amp; text <span class="cc-header">ASHLEY</span> to <span class="cc-header">28789</span> for even more exclusive offers.* 
 </div>
	</div>
	</div>


<div class="cc-disclaimer header-bar-full" style="padding:50px 10%  ;">

<sup>1</sup> Application and approval must occur same day to receive the offer. Cannot be combined with other offers. Valid one time only. The entire transaction amount after discount must be placed on the Ashley Stewart Credit Card.
<br><br>
<sup>2</sup> Must have made a purchase in previous 12 months starting 2 months prior to birthday month. Accounts that opened in birthday month or month prior will receive the offer the following calendar year. Account must not be in default. Offer will be received in birthday month. Must have valid email address and U.S. mailing address.
<br><br>
 <sup>3</sup>Limited to free economy continental U.S. during specified time periods. Offer is exclusive to Ashley Stewart Credit Card holders enrolled in the program. 


<br><br>

<sup>4</sup> Must have made a purchase in the previous 12 months. Account must not be in default. Must have valid email address and U.S. mailing address. 
<br>
<br>



<sup>5</sup>For all new accounts as of 10/23, Purchase APR of 35.24%. Minimum Interest Charge is $3.
<br>
<br>


Credit card offers are subject to credit approval.

<br><br>
Ashley Stewart Credit Card Accounts are issued by Comenity Bank.<br>
<br>
*By texting to receive exclusive offers, you consent to receive up to 10 autodialed marketing msg/month from Ashley Stewart on the mobile number used to sign up. Standard msg. &amp; data rates may apply. Consent not required to purchase. Text STOP to 28789 to stop; HELP for help. </div>
</div>


        
        
	  </div>
  	</div>
</div>
{% endunless %}

{% schema %}
{
  "name": "faq",
  "tag": "section",
  "class": "spaced-section"
}
{% endschema %}

<style>
   h1.main-page-title.page-header { display: none; }
   .cc-title { color: #000; letter-spacing: 2px; text-align: center; font-size: 60px; font-weight: 200; line-height: 70px; padding: 5px 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";    margin: 10px 0px; }
   .cc-cta { color: #000; text-align: center; font-size: 18px; font-weight: 400; line-height: 20px; font-family: "Poppins", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; text-decoration: underline; }
   .cc-header { color: #D55F8F; letter-spacing: 5px; text-align: center; font-size: 20px; font-weight: 800;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   }
   .cc-promo20 { color: #D55F8F; letter-spacing: 2px; text-align: center; font-size: 90px; font-weight: 900; line-height: 95px; padding: 5px 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   }
   .cc-subtext { color: #000; letter-spacing: 1px; text-align: center; font-size: 18px; font-weight: 400;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

  @media ( max-width:768px ) {
     .cc-title { font-size: 42px; font-weight: 200; line-height: 50px; }
     .cc-promo20 { font-size: 42px; }
     table.table_sign { width: 100% !important; padding-top: 20px !important; }
  }
</style>

