<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{% unless template.suffix contains 'landing' %}
<div class="page-width page-width--narrow{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	<div class="container">
	  <h3 class="main-page-title page-header{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.title | escape }}
	  </h3>
	  <div class="rte{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
	    {{ page.content }}   


             <div class="sc-mobile" style="max-width:960px;width:100%;margin:0 auto">
               <!----TOPS & DRESSES---->

            	<div style=" margin:0; padding:0;width:100%">
            			<h2>Tops &amp; Dresses&nbsp;</h2>
            	</div>

	<div style="overflow-x:hidden;">

			<table class="table-condensed table-dark table-striped" id="t01">
			<tbody>
              <tr>
                 <th colspan="2" style="border:none;">SIZE</th>
                 <th style="border:none;">WAIST</th>
				 <th style="border:none;">BUST</th>
				 <th style="border:none;">HIPS</th>
			 </tr>
			 <tr>
				<td>10</td>
                <td>0X/L</td>
                <td>30</td>
				<td>38.5</td>
				<td>40</td> 
			</tr>
			<tr>	
				<td>12</td>
                <td>0X/XL</td>
                <td>31.5</td>
				<td>40</td>
				<td>41.5</td>
			</tr>
			<tr>
				<td>14</td>
                <td>1X</td>
				<td>33</td>
				<td>41.5</td>
				<td>44</td>
			</tr>
			<tr>
				<td>16</td>
                <td>1X</td>
				<td>35</td>
				<td>43.5</td>
				<td>46</td>
			</tr>
			<tr>
				<td>18</td>
                <td>2X</td>
				<td>37</td>
				<td>45.5</td>
				<td>48</td>
			</tr>
			<tr>
				<td>20</td>
                <td>2X</td>
				<td>39</td>
				<td>47.5</td>
				<td>50</td>	
			</tr>
			<tr>
				<td>22</td>
                <td>3X</td>
				<td>41</td>
				<td>49.5</td>
				<td>52</td>
			</tr>
			<tr>
				<td>24</td>
                <td>3X</td>
				<td>43</td>
				<td>51.5</td>
				<td>54</td>
			</tr>
			<tr>
				<td>26</td>
			    <td>4X</td>	
                <td>45</td>
				<td>53.5</td>
				<td>56</td>
			</tr>
            
            <tr>
				<td>28</td>
                <td>4X</td>
				<td>47</td>
				<td>55.5</td>
				<td>58</td>
			</tr>
            
            <tr>
				<td>30</td>
                <td>5X</td>
				<td>49</td>
				<td>57.5</td>
				<td>60</td>
			</tr>
            
            <tr>
				<td>32</td>
                <td>5X</td>
				<td>51</td>
				<td>59.5</td>
				<td>62</td>
			</tr>
              
         	<tr>
				<td>34</td>
                <td>6X</td>
				<td>53</td>
				<td>61.5</td>
				<td>64</td>
		    </tr>

	        <tr>
				<td>36</td>
                <td>6X</td>
				<td>55</td>
				<td>63.5</td>
				<td>66</td>	
		    </tr>
		</tbody></table>
</div>
<br>
<!----BOTTOMS---->

      	<div style=" margin:0; padding:0; width:100%">
    		<h2>DENIM JEANS </h2>
    	</div>
        <div style="overflow-x:hidden;">

		<table class="table-condensed table-dark table-striped" id="t02">
			<tbody>
              <tr>
                <th style="border:none;">SIZE</th>
				<th style="border:none;">Waist</th>
				<th style="border:none;">Hips</th>
			  </tr>
			  <tr>
				<td>10</td>
				<td>30"</td>
				<td>40"</td>
			  </tr>
			  <tr>
				<td>12</td>
				<td>31.5"</td>
				<td>41.5"</td>
			  </tr>
  			  <tr>
  				<td>14</td>
  				<td>33"</td>
  				<td>44"</td>
  			  </tr>
			  <tr>
				<td>16</td>
				<td>35"</td>
				<td>46"</td>
			  </tr>
			  <tr>
				<td>18</td>
				<td>37"</td>
				<td>48"</td>
			  </tr>
			  <tr>
				<td>20 </td>
				<td>39"</td>
				<td>50"</td>
			  </tr>
			  <tr>
				<td>22</td>
				<td>41"</td>
				<td>52"</td>
			  </tr>
			  <tr>
				<td>24 </td>
				<td>43"</td>
				<td>54"</td>
			  </tr>
			  <tr>
				<td>26 </td>
				<td>45"</td>
				<td>56"</td>
			  </tr>
			  <tr>
				<td>28 </td>
				<td>47"</td>
				<td>58"</td>
			  </tr>
			  <tr>
				<td>30</td>
				<td>49"</td>
				<td>60"</td>
			  </tr>
			  <tr>
				<td>32</td>
				<td>51"</td>
				<td>62"</td>
			  </tr>
              <tr>
				<td>34</td>
				<td>53"</td>
				<td>64"</td>
		      </tr>
			  <tr>
				<td>36</td>
				<td>55"</td>
				<td>66"</td>
			  </tr>
		    </tbody>
         </table>
		<table class="table-condensed table-dark table-striped" id="t13">
			<tbody>
               <tr>
				 <th colspan="4">Lengths</th>
			   </tr>
			   <tr>
				 <td><strong>XSHORT:</strong><br>24" - 27"</td>
				 <td><strong>SHORT:</strong><br>26" - 30"</td>
                <td><strong>REGULAR:</strong><br>29" - 33"</td>
				<td><strong>TALL:</strong><br>32" - 36"</td>
			   </tr>
		    </tbody>
        </table>
  </div>
<br>
               
           	<div style=" margin:0; padding:0;width:100%">
        		<h2>BOTTOMS </h2>
        	</div>

          <div style="overflow-x:hidden;">
		    <table class="table-condensed table-dark table-striped" id="t03">
        	   <tbody>
                 <tr>
      			    <th colspan="2" style="border:none;">SIZE</th>
      				<th style="border:none;">WAIST</th>
      				<th style="border:none;">HIPS</th>
                    <th style="border:none;">XSHORT</th>
                    <th style="border:none;">SHORT</th>
                    <th style="border:none;">REGULAR</th>
                    <th style="border:none;">TALL</th>
			     </tr>
	             <tr>
    				<td>10</td>
                    <td> L</td>
    				<td>30</td>
    				<td>40</td>
                    <td>24 - 27</td>
    				<td>26 - 30</td>
    				<td>29 - 33</td>
                    <td>32 - 36</td>
		        </tr>
			    <tr>
				    <td>12</td>
                    <td>XL</td>
    				<td>31.5</td>
    				<td>41.5</td>
                    <td>24 - 27</td>
    				<td>26 - 30</td>
    				<td>29 - 33</td>
                    <td>32 - 36</td>
			    </tr>
			    <tr>
                   <td>14</td>
				   <td>1X</td>
				   <td>33</td>
				   <td>44</td>
                   <td>24 - 27</td>
    			   <td>26 - 30</td>
    			   <td>29 - 33</td>
                   <td>32 - 36</td>
			   </tr>
			   <tr>
				 <td>16</td>
                 <td>1X</td>
				 <td>35</td>
				 <td>46</td>
                 <td>24 - 27</td>
				 <td>26 - 30</td>
				 <td>29 - 33</td>
                 <td>32 - 36</td>
			   </tr>
			   <tr>
    				<td>18</td>
                    <td>2X</td>
    				<td>37</td>
    				<td>48</td>
                    <td>24 - 27</td>
    				<td>26 - 30</td>
    				<td>29 - 33</td>
                    <td>32 - 36</td>
			   </tr>
			  <tr>
				<td>20</td>
                <td>2X</td>
				<td>39</td>
				<td>50</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			 </tr>
			 <tr>
				<td>22</td>
                <td>3X</td>
				<td>41</td>
				<td>52</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			 </tr>
			 <tr>
				<td>24</td>
                <td>3X</td>
				<td>43</td>
				<td>54</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			 </tr>
			 <tr>
				<td>26</td>
                <td>4X</td>
				<td>45</td>
				<td>56</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			 </tr>
			<tr>
				<td>28</td>
                <td>4X</td>
				<td>47</td>
				<td>58</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			</tr>
			<tr>
				<td>30</td>
                <td>5X</td>
				<td>49</td>
				<td>60</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			</tr>
			<tr>
				<td>32</td>
                <td>5X</td>
				<td>51</td>
				<td>62</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			</tr>
	        <tr>
				<td>34</td>
                <td>6X</td>
				<td>53</td>
				<td>64</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
		    </tr>
			<tr>
				<td>36</td>
                <td>6X</td>
				<td>55</td>
				<td>66</td>
                <td>24 - 27</td>
				<td>26 - 30</td>
				<td>29 - 33</td>
                <td>32 - 36</td>
			</tr>
            <tr>
			   <td colspan="4" style="border:none;background-color: #fff;"></td>
               <td colspan="4" style="color:#fff;background: #000;">INSEAMS</td>
			</tr>
		   </tbody>
        </table>
  </div>

<br>
        <div style=" margin:0; padding:0; width:100%">
      		<h2>TALL</h2>
        </div>

                <div style="overflow-x:hidden;">
            		<table class="table-condensed table-dark table-striped" id="tall">
                    	<tbody>
            			 <tr>
                            <th colspan="2" style="border:none;">SIZE</th>
            				<th style="border:none;">Bust</th>
            				<th style="border:none;">Waist</th>
                            <th style="border:none;">Hips</th>
            			</tr>
            	        <tr>
            				<td>10</td>
                            <td> L</td>
            				<td>39.5</td>
            				<td>31</td>
                            <td>41</td>
            		    </tr>
            			<tr>
            				<td>12</td>
                            <td>XL</td>
            				<td>41</td>
            				<td>32.5</td>
                            <td>42.5</td>
            			</tr>
            			<tr>
                            <td>14</td>
            				<td>1X</td>
            				<td>42.5</td>
            				<td>34</td>
                            <td>45</td>	
            			</tr>
            			<tr>
            				<td>16</td>
                            <td>1X</td>
            				<td>44.5</td>
            				<td>36</td>
                            <td>47</td>	
            			</tr>
            			<tr>
            				<td>18</td>
                            <td>2X</td>
            				<td>46.5</td>
            				<td>38</td>
                            <td>49</td>
            			</tr>
            			<tr>
            				<td>20</td>
                            <td>2X</td>
            				<td>48.5</td>
            				<td>40</td>
                            <td>51</td>
            			</tr>
            			<tr>
            				<td>22</td>
                            <td>3X</td>
            				<td>50.5</td>
            				<td>42</td>
                            <td>53</td>
            			</tr>
            			<tr>
            				<td>24</td>
                            <td>3X</td>
            				<td>52.5</td>
            				<td>44</td>
                            <td>55</td>		
            			</tr>
            			<tr>
            				<td>26</td>
                            <td>4X</td>
            				<td>54.5</td>
            				<td>46</td>
                            <td>57</td>		
            			</tr>
            			<tr>
            				<td>28</td>
                            <td>4X</td>
            				<td>56.5</td>
            				<td>48</td>
                            <td>59</td>	
            			</tr>
            			<tr>
            				<td>30</td>
                            <td>5X</td>
            				<td>58.5</td>
            				<td>50</td>
                            <td>61</td>	
            			</tr>
            			<tr>
            				<td>32</td>
                            <td>5X</td>
            				<td>60.5</td>
            				<td>52</td>
                            <td>63</td>	
            			</tr>
            	        <tr>
            				<td>34</td>
                            <td>6X</td>
            				<td>62.5</td>
            				<td>54</td>
                            <td>65</td>
            		   </tr>
            			<tr>
            				<td>36</td>
                            <td>6X</td>
            				<td>64.5</td>
            				<td>56</td>
                            <td>67</td>
            			</tr>
            		  </tbody>
                    </table>
              </div>
            
              <div style=" margin:10px 0 0; padding: 10px 0; background: #000; color:#fff; background: #000; text-align: center">
            			Tall items run 2 inches longer for optimal fit.
              </div>
            <br>

	<!----Coats & jackets---->

        	<div style=" margin:0; padding:0;width:100%">
        	    <h2>Coats &amp; Jackets</h2>
        	</div>

	        <div style="overflow-x:hidden;">
			  <table class="table-condensed table-dark table-striped" id="t10">
			   <tbody>
                 <tr>
                   <th colspan="2" style="border:none;">SIZE</th>        
  				   <th style="border:none;">BUST</th>
  				   <th style="border:none;">WAIST</th>
  				   <th style="border:none;">HIP</th>
			     </tr>
			     <tr>
    				<td>10/12</td>
                    <td>XL</td>
    				<td>40</td>
    				<td>31.5</td>
                    <td>42.5</td>
			    </tr>
    			<tr>
    				<td>14/16</td>
                    <td>1X</td>
    				<td>43.5</td>
    				<td>35</td>
                    <td>46</td>
    			</tr>
			    <tr>
				  <td>18/20</td>             
    			  <td>2X</td>
    			  <td>47.5</td>
    			  <td>39</td>
                  <td>50</td>
			    </tr>
			    <tr>
				  <td>22/24</td>                
  				  <td>3X</td>
  				  <td>51.5</td>
  				  <td>43</td>
                  <td>54</td>
			   </tr>
			  <tr>
				<td>26/28</td>             
				<td>4X</td>
				<td>55.5</td>
				<td>47</td>
                <td>58</td> 
			 </tr>
			<tr>
				<td>30/32</td>                
				<td>5X</td>
				<td>59.5</td>
				<td>51</td>
                <td>62</td> 
			</tr>
			<tr>
				<td>34/36</td>               
				<td>6X</td>
				<td>63.5</td>
				<td>55</td>
                <td>66</td> 
			</tr>
		    </tbody>
          </table>
</div>
<br>
	
    	<div style=" margin:0; padding:0;width:100%">
    		<h2>Vince Camuto Outerwear&nbsp; </h2>
    	</div>

	   <div style="overflow-x:hidden;">
			<table class="table-condensed table-dark table-striped" id="t10b">
			 <tbody>
               <tr>
                    <th colspan="2" style="border:none;">SIZE</th>           
    				<th style="border:none;">BUST</th>
    				<th style="border:none;">WAIST</th>
    				<th style="border:none;">HIP</th>
			   </tr>
    			   <tr>
    				<td>14/16</td>
                    <td>0X</td>
    				<td>43</td>
    				<td>39</td>
                    <td>47</td>
    			   </tr>
			   <tr>
				<td>18/20</td>              
				<td>1X</td>
				<td>46</td>
				<td>42</td>
                <td>50</td>
			   </tr>
			  <tr>
				<td>22/24</td>               
				<td>2X</td>
				<td>50</td>
				<td>46</td>
                <td>54</td> 
			  </tr>
			  <tr>
				<td>26/28</td>              
				<td>3X</td>
				<td>54</td>
				<td>50</td>
                <td>58</td> 
			</tr>
		   </tbody>
         </table>
  </div>
<br>
	
<!----INTIMATES---->

        	<div style=" margin:0; padding:0; width:100%">
        		<h2>Intimates &amp; Swim </h2> 
        	</div>
        <div style="overflow-x:hidden;">
            <div style="text-align:center;"> <h2 style="text-transform: uppercase;font-SIZE:18px">Swim </h2> </div>
	        <table class="table-condensed table-dark table-striped" id="t04">
    			<tbody>
                  <tr>
    			    <th colspan="2" style="border:none;">SIZE</th>
    				<th style="border:none;">BUST</th>
    				<th style="border:none;">WAIST</th>
    				<th style="border:none;">HIPS</th>
    			  </tr>
    			 <tr>
    				<td>12</td>
                    <td>XL</td>
    				<td>40</td>
    				<td>31.5</td>
    				<td>41.5 - 42.5</td>
    			 </tr>
    			 <tr>
    				<td>14</td>
                    <td>1X</td>
    				<td>41 - 41.5</td>
    				<td>33 - 35</td>
    				<td>43 - 44</td>
    			 </tr>
    			<tr>
    				<td>16</td>
                    <td>1X</td>
    				<td>41.25 - 44</td>
    				<td>34.5 - 37</td>
    				<td>43.5 - 47</td>
    			</tr>
    			<tr>
    				<td>18</td>
                    <td>2X</td>
    				<td>43.25 - 45.5</td>
    				<td>36.5 - 39</td>
    				<td>45.5 - 48</td>
    			</tr>
    			<tr>
    				<td>20</td>
                    <td>2X</td>
    				<td>45.25 - 47.5</td>
                    <td>39 - 41</td>
    				<td>47.5 - 50</td>
    			</tr>
    			<tr>
    				<td>22</td>
                    <td>3X</td>
    				<td>47.25 - 49.5</td>
    				<td>41 - 43</td>
    				<td>49.5 - 52</td>
    			</tr>
    			<tr>
    				<td>24</td>
                    <td>3X</td>
    				<td>49.25 - 51.5</td>
    				<td>42 - 45</td>
    				<td>51.5 - 54</td>
    			</tr>
    			<tr>
    				<td>26</td>
                    <td>4X</td>
    				<td>53.5</td>
    				<td>45</td>
    				<td>56</td>
    			</tr>
    	      </tbody>
            </table>
    
    <br>

             <div style=" margin:0; text-align:center" width="100%">
        		 <h2>BRAS </h2> 
        	</div>

         <div style="text-align:center; font-WEIGHT:600; font-SIZE:18px; font-family: Helvetica, Arial; padding-top:5px;">How to Measure Your Bra SIZE</div>

        <table class="SIZEchart-bra">
            <tbody>
              <tr>
          	<td class="sc-bra-td bra_num"><div class="sc-number"> 1</div></td>
        	<td class="sc-bra-td">       	
        	  <div style="padding:0 5px 0 10px;font-family: Helvetica, Arial;">While wearing your bra, measure your rib cage just below your bust to get your <strong style="font-WEIGHT:900">BAND SIZE</strong>.</div>
        	</td>
        	<td class="sc-bra-td">
        		<img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SFRA-SIZE-CHART_03.webp" alt="Band SIZE" style="width:150px; margin:0 auto;"></td> 
        	</tr>
        	
        	<tr>        	
            	<td class="sc-bra-td-2 bra_num"><div class="sc-number"> 2</div></td>
        		<td class="sc-bra-td-2">
        	     <div style="padding:0 5px 0 10px;font-family: Helvetica, Arial;">With the measuring tape parallel to the floor, measure around the fullest part of your bust line to get your  <strong style="font-WEIGHT:900">BUST SIZE</strong>.</div>
        	    </td>
          	    <td class="sc-bra-td">
          		  <img src="https://cdn.shopify.com/s/files/1/0878/8813/4446/files/SFRA-SIZE-CHART_10.webp" alt="Bust SIZE" style="width: 150px; margin:0 auto;">
                </td>
          	</tr>	
        	<tr>
            	<td class="sc-bra-td-3 bra_num"><div class="sc-number"> 3</div></td>
        	    <td class="sc-bra-td-3">
                  <div style="padding:0 5px 0 10px; font-family: Helvetica, Arial;">Lastly, subtract your <strong style="font-WEIGHT:900">BAND SIZE</strong> from your <strong style="font-WEIGHT:900">BUST SIZE</strong> to get your <strong style="font-WEIGHT:900">CUP SIZE</strong>.</div>
        	    </td>
        	    <td class="sc-bra-td"></td>
        	</tr>
           </tbody>
        </table>
 <br>

		<table class="table-condensed table-dark table-striped" id="t05">
			<tbody>
              <tr>
                <th class="diff_inc" style="border:none;">DIFFERENCE IN INCHES</th>
                <td>3"</td>
                <td>4"</td>
                <td>5"</td>
				<td>6"</td>
				<td>7"</td>
				<td>8"</td>
                <td>9"</td>
			  </tr>
			  <tr>
			    <th class="diff_inc" style="border:none;">US CUP SIZE</th>
                <td>C</td>
                <td>D</td>
				<td>DD</td>
				<td>DDD</td>
				<td>F</td>
                <td>G</td>
                <td>H</td>
			 </tr>
		  </tbody>
        </table>
<br>

        <table class="SIZEchart-bra" align="center">
            <tbody>
              <tr>
        		<td class="sc-bra-td">
        	     <div style="width: 100%; background-color: #D55F8F; display: block; padding:10px; text-align: center; font-SIZE: 14px; color:#fff; margin: 0 auto;font-family: Helvetica, Arial;letter-spacing: 1px; line-height: 17px"> 
        		  <strong style="font-WEIGHT:900">FOR EXAMPLE:</strong><br>
        		  Bust SIZE 47" - Band SIZE 42" = 5" difference.
        		  <br><br>
        		  Your Cup SIZE is DD.<br>
        		  Band SIZE and Cup SIZE equals Bra SIZE. Your SIZE is 42DD.<br>
        		  <strong style="font-WEIGHT:900">SEE CHART ABOVE</strong>
        		 </div>
        	    </td>
        	  </tr>
            </tbody>
         </table>
        
            <div>
        	  <h2 style="text-transform: uppercase;font-SIZE:18px">Intimates </h2> 
        	</div>
        	   <table class="table-condensed table-dark table-striped" id="t06">
        			<tbody>
                      <tr>
        			    <th colspan="2" style="border:none;">SIZE</th>
        				<th style="border:none;">WAIST</th>
        				<th style="border:none;">HIPS</th>
        			  </tr>
        			  <tr>
        				<td>14/16</td>
                        <td>1X</td>
        				<td>33-35</td>
        				<td>44-46</td>
        			 </tr>
        			 <tr>
        				<td>18/20</td>
                        <td>2X</td>
        				<td>37-39</td>
        				<td>48-50</td>
        			</tr>
        			<tr>
        				<td>22/24</td>
                        <td>3X</td> 
        				<td>41-43</td>
        				<td>52-54</td>
        			</tr>
        			<tr>
        				<td>26/28</td>
                        <td>4X</td>
        				<td>45-47</td>
        				<td>56-58</td>
        			</tr>
        		 </tbody>
               </table>
          </div>
        
        <br>
        
        <!---hosiery--->
        
        
        	<div style=" margin:0; padding:0; width:100%">
        			<h2 style="text-transform: uppercase;font-SIZE:18px">Hosiery &amp; Tights</h2> 
        	</div>
              <div style="overflow-x:hidden;">
        	
        		<table class="table-condensed table-dark table-striped" id="t08">
        			<tbody><tr>
        				<th style="border:none;">SIZE</th>
        				<th style="border:none;">HEIGHT</th>
        				<th style="border:none;">WEIGHT</th>
        			</tr>
        			<tr>
        				<td>A/B</td>
        				<td>4'11" - 5'5"</td>
        				<td>130 - 200lbs</td>
        			</tr>
        			<tr>
        				<td>C/D</td>
        				<td>5'2" - 5'9"</td>
        				<td>180 - 235lbs</td>
        			</tr>
        			<tr>
        				<td>E</td>
        				<td>5'4" - 6'0"</td>
        				<td>210 - 285lbs</td>
        			</tr>
        			<tr>
        				<td>EE</td>
        				<td>5'6" - 6'0"</td>
        				<td>250 - 335lbs</td>
        			</tr>
        
                   <tr>
        				<td>Queen 1</td>
        				<td>4'11" - 5'6"</td>
        				<td>150 - 225lbs</td>
        		  </tr>
        
                    <tr>
        				<td>Queen 2</td>
        				<td>5'6" - 6'0"</td>
        				<td>185 - 250lbs</td>
        		    </tr>
        
                    <tr>
        				<td>1X - 2X</td>
        				<td>5'4" - 5'10"</td>
        				<td>170-220lbs</td>
        		    </tr>
        
        
                    <tr>
        				<td>3X -4X</td>
        				<td>5'4" - 6'0"</td>
        				<td>200 - 260lbs</td>
        		    </tr>
        
        
                     <tr>
        				<td>5X - 6X</td>
        				<td>5'4" - 6'0"</td>
        				<td>230 - 290lbs</td>
        		    </tr>
        
        
                     <tr>
        				<td>7X</td>
        				<td>5'4" - 6'0"</td>
        				<td>260 - 330lbs</td>
        		    </tr>
        		</tbody></table>
                <br>
        
             </div>  
        
        </div>
        
        
        
                
        	  </div>
          	</div>
        </div>
        
          
        {% endunless %}
        
        {% schema %}
        {
          "name": "faq",
          "tag": "section",
          "class": "spaced-section"
        }
        {% endschema %}
        
        
    <style>
.sc-mobile h2 { font-family: 'Lato'; font-weight: 600; }	

	
.table-dark {
    color: #fff;
    background-color:darkgray; 
}

.table-dark, .table-dark>th, .table-dark>td {
     background-color: #fff; 
}



	@media only screen and (max-width: 600px) {
td.sc-bra-td.bra_num { width: 45px; } 
th.diff_inc { width: 20% !important; }      
.table-dark, .table-dark>th, .table-dark>td {
     background-color: #fff; 
	font-size: 9px;
}

.sc-mobile{
padding:0 5px;

}
}



.divadeals-block {
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
    display: none;
}

.static-full-width {
    width: 100%!important;
    max-width: inherit!important;
    padding: 0px!important;
}


	
table#t01 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t01 td, table#t01 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;
	color: black;
}


	

table#t01 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t01 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t01 tr:nth-child(even) {
   background-color:#fff;
}
table#t01 th {
    background-color: white;
    color: black;
}









table#t01h {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t01h td, table#t01h th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t01h tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t01h tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t01h tr:nth-child(even) {
   background-color:#fff;
}
table#t01h th {
    background-color: white;
    color: black;
}





	
	
	
	
table#t02 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t02 td, table#t02 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t02 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t02 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t02 tr:nth-child(even) {
   background-color:#fff;
}
table#t02 th {
     background-color: white;
    color: black;
}


	
	
	
	
		
	
	
table#t03 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t03 td, table#t03 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t03 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t03 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t03 tr:nth-child(even) {
   background-color:#fff;
}
table#t03 th {
     background-color: white;
    color: black;
}



	
	
	
	
	
table#tall {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#tall td, table#tall th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#tall tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#tall tr:nth-child(odd) {
    background-color: #fefefe;
}
table#tall tr:nth-child(even) {
   background-color:#fff;
}
table#tall th {
     background-color: white;
    color: black;
}



	
	
	
	
		
	
	
table#t04 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t04 td, table#t04 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t04 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t04 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t04 tr:nth-child(even) {
   background-color:#fff;
}
table#t04 th {
    background-color: white;
    color: black;
}



	
	
	
	
	
	
		
	
	
table#t05 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t05 td, table#t05 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t05 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t05 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t05 tr:nth-child(even) {
   background-color:#fff;
}
table#t05 th {
    background-color: white;
    color: black;
}


	
	
	
	
table#t06 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t06 td, table#t06 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t06 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t06 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t06 tr:nth-child(even) {
   background-color:#fff;
}
table#t06 th {
    background-color: white;
    color: black;
}



	
	
	
	
	
	
		
	
	
table#t07 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t07 td, table#t07 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t07 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t07 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t07 tr:nth-child(even) {
   background-color:#fff;
}
table#t07 th {
     background-color: white;
    color: black;
}



	
	
table#t07a {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t07a td, table#t07a th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t07a tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t07a tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t07a tr:nth-child(even) {
   background-color:#fff;
}
table#t07a th {
     background-color: white;
    color: black;
}

	
	
	

	
	
	
	
		
table#t07b {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t07b td, table#t07b th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t07b tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t07b tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t07b tr:nth-child(even) {
   background-color:#fff;
}
table#t07b th {
     background-color: white;
    color: black;
}

	
	
	
	
	
	
	
		
	
	
table#t08 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t08 td, table#t08 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t08 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t08 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t08 tr:nth-child(even) {
   background-color:#fff;
}
table#t08 th {
    background-color: white;
    color: black;
}



	
	
	
	
		
	
	
table#t08b {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t08b td, table#t08b th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t08b tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t08b tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t08b tr:nth-child(even) {
   background-color:#fff;
}
table#t08b th {
     background-color: white;
    color: black;
}



	
	
table#t08c {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t08c td, table#t08c th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t08c tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t08c tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t08c tr:nth-child(even) {
   background-color:#fff;
}
table#t08c th {
     background-color: white;
    color: black;
}


	
	






	
table#t08d {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t08d td, table#t08d th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t08d tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t08d tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t08d tr:nth-child(even) {
   background-color:#fff;
}
table#t08d th {
    background-color: white;
    color: black;
}


		
	
	
table#t09 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t09 td, table#t09 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t09 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t09 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t09 tr:nth-child(even) {
   background-color:#fff;
}
table#t09 th {
     background-color: white;
    color: black;
}



	
	
	
	
	
	
		
	
	
table#t10 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t10 td, table#t10 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t10 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t10 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t10 tr:nth-child(even) {
   background-color:#fff;
}
table#t10 th {
     background-color: white;
    color: black;
}



	
	
	
	
	
	
		
	
	
table#t11 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t11 td, table#t11 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t11 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t11 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t11 tr:nth-child(even) {
   background-color:#fff;
}
table#t11 th {
    background-color: white;
    color: black;
}


	
	
	
table#t12 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t12 td, table#t12 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t12 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t12 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t12 tr:nth-child(even) {
   background-color:#fff;
}
table#t12 th {
     background-color: white;
    color: black;
}


	
	
	
table#t13 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t13 td, table#t13 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t13 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t13 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t13 tr:nth-child(even) {
   background-color:#fff;
}
table#t13 th {
    background-color: white;
    color: black;
}



	
table#t10 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t10 td, table#t10 th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t10 tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t10 tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t10 tr:nth-child(even) {
   background-color:#fff;
}
table#t10 th {
    background-color: white;
    color: black;
}


	
table#t10b {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}



table#t10b td, table#t10b th {
    border: 2px solid #dddddd;
    text-align: center;
    padding:5px 1%;
    width: 5%;
vertical-align: middle;color: black;
}


	

table#t10b tr:nth-child(odd) {
    background-color: #dddddd;
}


}
table#t10b tr:nth-child(odd) {
    background-color: #fefefe;
}
table#t10b tr:nth-child(even) {
   background-color:#fff;
}
table#t10b th {
    background-color: white;
    color: black;
}


	

/* Style the tab */
.tabSIZE {
    overflow: hidden;
    border: 1px none #ccc;
    background-color: #fff;
}



/* Style the buttons inside the tab */
.tabSIZE button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-SIZE: 17px;
}
.tabSIZE button:focus{padding:8px 25px;}

/* Change background color of buttons on hover */
.tabSIZE button:hover {
    background-color: #ddd;
}

.tabSIZE-p button.active {
    background-color: #ed008e;
}


/* Create an active/current tablink class */
.tabSIZE button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 20px 0px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@media screen and (max-width: 360px){
   .tabcontent{padding: 10px 0px;}
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}



@media only screen and (max-width: 500px) {

.tabSIZE-m button {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-SIZE: 10px;
}




/* Style the tab */
.tabSIZE-m {
    overflow: hidden;
    border: 1px none #ccc;
    background-color: #fff;
}





/* Change background color of buttons on hover */
.tabSIZE-m button:hover {
    background-color: #ddd;
}

.tabSIZE-m button.active {
    background-color: #ed008e;
}


/* Create an active/current tablink class */
.tabSIZE-m button.active {
    background-color: #ccc;
}



h2.subtext {
SIZE:14px;
line-HEIGHT:20px;
font-WEIGHT:900px;
}

}


.SIZEchart-bra {
width: 75%;
    margin: 0 auto;"
}

	.sc-number {
		 HEIGHT: 50px;
  width: 50px;
  background-color:#D55F8F;
  border-radius: 50%;
  display:inline-block;
		padding:10px; 
		font-SIZE: 20px;
		color:#fff; 
		margin: auto; 
  text-align: center;
		vertical-align: middle;
		font-family: Helvetica, Arial;
	}	
	
 
	
	.sc-bra-td {
border: none;
	padding: 0;
	vertical-align: middle;
}


	.sc-bra-td-2 {
border: none;
	padding: 0;
	vertical-align: middle;
}



	.sc-bra-td-3 {
border: none;
	padding: 30px 0 0;
	vertical-align: middle;
}
	
	
@media only screen and (max-width: 600px)

{
.SIZEchart-bra {
width: 100%;
    margin: 0 auto;"
}

.sc-number {
		 HEIGHT: 40px;
  width: 40px;
  background-color:#D55F8F;
  border-radius: 50%;
  display:inline-block;
		padding:8px; 
		font-SIZE: 17px;
		color:#fff; 
		margin: auto; 
  text-align: center;
		vertical-align: middle;
		font-family: Helvetica, Arial;
	}	
.sc-bra-td {
border: none;
	padding:  10px 0 0;
	vertical-align: middle;
}


.sc-bra-td-2 {
border: none;
	padding: 20px 0 0;
	vertical-align: middle;
}


.sc-bra-td-3 {
border: none;
	padding: 20px 0 0;
	vertical-align: middle;
}


}
</style>    
